html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;


    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clock-container {
    backdrop-filter: blur(5px);
    padding: 10px 0;
    width: 100vw;
}

.clock {
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}